@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins&family=Sacramento&family=Ubuntu:ital,wght@1,700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
#bgAnimation{
   width: 2px;
    height: 100px;
    color:#dc9e4b;
    background: #dc9e4b;
    transition: width 0.5s;
   
}

#bgAnimation:hover, .inner:hover {
    width: 250px;
    color:white;
   
}
@media (min-width: 768px) { 
    #bgAnimation:hover, .inner:hover {
        width: 390px;
        color:white;
    }
 }

.footer i:hover {
    cursor: pointer;
}
.fa-facebook {

    color: #136aff
  
}
.fa-linkedin {

    color: #0094df
  
}
.fa-github {

    color: black
  
}
